<app-nav></app-nav>
<div>
    <h2>Clientes</h2>

    <form (ngSubmit)="addCliente(clienteForm.value)" #clienteForm="ngForm" class="row g-3">
      <div class="col-md-6">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" name="nombre" ngModel class="form-control" id="nombre" placeholder="Nombre">
      </div>
      <div class="col-md-6">
        <label for="telefono" class="form-label">Teléfono</label>
        <input type="text" name="telefono" ngModel class="form-control" id="telefono" placeholder="Teléfono">
      </div>
      <div class="col-md-6">
        <label for="email" class="form-label">Email</label>
        <input type="text" name="email" ngModel class="form-control" id="email" placeholder="Email">
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Agregar Cliente</button>
      </div>
    </form>
    
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Teléfono</th>
          <th>Email</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes">
          <td>{{ cliente.nombre }}</td>
          <td>{{ cliente.telefono }}</td>
          <td>{{ cliente.email }}</td>
          <td>
            <button class="btn btn-danger" (click)="deleteCliente(cliente.id!)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
    

  </div>
  