<!-- Footer -->
<footer class="bg-dark text-white mt-5">
  <div class="container py-4">
    <div class="row">
      <!-- Columna de Información -->
      <div class="col-md-4">
        <h5 class="text-uppercase">Sobre Nosotros</h5>
        <p>
          TECNOLOGÍAS SINERGIA S.A.S. cuenta con más de 21 años de experiencia en Colombia consolidados a través de más 200 clientes, 50 módulos y 15.000 usuarios que han confiado en el beneficio obtenido con nuestros productos y servicios. El éxito de nuestra empresa radica en la innovación, investigación y desarrollo permanente que nos ha permitido mantenernos a la vanguardia tecnológica de la generación de soluciones.
        </p>
      </div>
      
      <!-- Columna de Enlaces -->
      <div class="col-md-5">
        <h5 class="text-uppercase text-center">Enlaces</h5>
        <ul class="list-unstyled text-center">
          <li class="nav-item">
            <a class="nav-link active text-white" routerLink="/clientes">Clientes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white" routerLink="/bodegas">Bodegas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white" routerLink="/puertos">Puertos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white" routerLink="/envios-maritimos">Envios Maritimos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white" routerLink="/envios-terrestres">Envios Terrestres</a>
          </li>
        </ul>
      </div>

      <!-- Columna de Redes Sociales -->
      <div class="col-md-3 text-center">
        <h5 class="text-uppercase">Síguenos</h5>
        <a href="" class="text-white me-3">
          <i class="fa fa-facebook-f fa-lg"></i>
        </a>
        <a href="" class="text-white me-3">
          <i class="fa fa-twitter fa-lg"></i>
        </a>
        <a href="" class="text-white me-3">
          <i class="fa fa-instagram fa-lg"></i>
        </a>
        <a href="" class="text-white">

          <i class="fa fa-linkedin fa-lg" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>

  <!-- Footer Bottom -->
  <div class="bg-dark text-center py-3">
    <p class="mb-0">&copy; 2024 TECNOLOGÍAS SINERGIA S.A.S. Todos los derechos reservados.</p>
  </div>
</footer>
